@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  background-color: rgb(0, 0, 0);
}
header{
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  animation-name: fade-in;
  animation-duration: 3s;
}
@keyframes fade-in {
  from{opacity: 0%;}
  to{opacity: 100%;}
}

.logo i{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  
}
.toggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* border: 1px solid; */
  width: 70px;
  height: 40px;
  position: relative;
}

.lineA  {
  width: 50px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transition: .3s;
  transform: translate(-0%);
  
}

.lineA::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translateY(16px); 
  transition: .3s;
  
}
.lineA::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translateY(-16px);
  transition: .3s;
}


.toggle.show .lineA::before{
  transform: rotate(45deg) translate(20px, -20px) ; 
  transition: .3s;
}
.toggle.show .lineA::after{
  transform: rotate(-45deg) translate(20px, 20px);
  transition: .3s;
}
.toggle.show .lineA{
  background-color: transparent;
  transform: translate(-50%);
  transition: .5s;
}

.nav a{
  font-size: 20px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.verticalNav {
  padding:20px;
  background-color: rgba(0, 0, 0, 0.94);
  display: none;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 1000; 
  border-top: .1px solid;
  min-height: 100vh; 
  animation-name: nav ;
  animation-duration: .3s;
}
@keyframes nav {
  from{transform: translate(100%);}
  to{transform: translate(0%);}
}
.credit{
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

ul a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  list-style: none;
  padding-bottom: 10px;
  font-weight: 200;
  cursor: pointer;
}
ul li:hover{
  text-decoration: underline;  
}
header .toggle{
  display: none;
  cursor: pointer;
  
}
.close{
  display: none;
  cursor: pointer;
}
.sectionA{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 250px;
  font-weight: 900;
  position: relative;
  text-align: center;
  line-height: 180px; 
}
.sectionA{
  animation-name: titulo;
  animation-duration: 3s;
}
@keyframes titulo {
  from{opacity: 0%;}
  to{opacity: 100%;}
}

.imagen{
  position: absolute;
  height: 100%;
  top: 0;
}

.prev{
  position:fixe;
  top: 45%;
  right: 76%;
  cursor: pointer;
}
.play{
  font-size: 20px;
}
.play:hover{
  font-size: 25px;
  transition:.3s;
}
.next{
  position: fixe;
  top: 45%;
  left: 95%;
  cursor: pointer;
}
.formulario{
  margin: auto;
  background-color: rgba(126, 255, 214, 0);
  width: 100%;
  max-width: 500px;
}

form{
  margin-top: 30px;
  padding: 10px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 255, 255, 0);
}
input{
  appearance: none;
  border: 1px solid #323232;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: none;
  background-color: black;
  font-family: 'Special Elite', cursive;
}
.mensaje{
  padding-bottom: 100px;
}
.controles{
  font-size: 20px;
  position: fixed;
  bottom:0%;
  right: 0;
  
}
.arte{
  position: absolute;
  top: -5%;
  left: -160%;
  z-index: -3000;
}
.controles div{
  cursor: pointer;
}
.controles i{
  color: rgb(0, 0, 0);
}
.titulo {
  z-index: -1000;
}
.sectionB{
  font: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 100px;
  background-color: rgba(243, 6, 6, 0);
}
.timeline{
  width: 2px;
  position: relative;
  margin-bottom: 100px;
  margin: auto;
  height: 100%;
  background-color: rgb(255, 255, 255);
  animation-name: timeline;
  animation-duration: 10s;
}


.checkpoint{
  text-align: center;
  width: 300px;
  border: .1px solid; 
  margin-bottom: 80px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(72, 72, 72); 
}
.animado{
  opacity: 0;
  transition: 3s;
}

.checkpoint:nth-child(even){
  float: right;
  margin-right: 40px;
  
}
.checkpoint:nth-child(odd){
  float: left;
  margin-left: 40px;
}
.checkpoint::before{
  content: "";
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
}
.checkpoint:nth-child(even)::before{
  top: 0;
  left: 110%;
}
.checkpoint:nth-child(odd)::before{
  top: 0;
  left: -49px;
}
.checkpoint h3,
.checkpoint h2,
.checkpoint p{
  font-weight: 100;
  font-size: 20px;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}
.checkpoint h2{
  font-weight: 300;
}

.sectionC{
  margin: auto;
  width: 50%;
  padding: 0px;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.sectionC hr{
  width: 100px;
  background-color: white;
  height: 10px;
  margin: auto;
}
.sectionC p{
  font-size:20px ;
  font-family: 'Kanit', sans-serif;
}
.sectionB_contacto{
  background-color: rgba(255, 0, 0, 0);
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.sectionB_contacto hr{
  width: 100px;
  margin:  auto;
  height: 10px;
  background-color: white;
}

@media only screen and (min-width:1000px){
  .sectionC {
    text-align: center;
  }
}
@media only screen and (max-width:900px){
  .sectionA{
    font-size: 150px;
    line-height: 120px;
  }
  .sectionC{
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width:600px){
  header .toggle {
    display: flex;
  }
  .nav{
    display: none;
  }
  .show{
    display: block; 
  }
  .hide{
    display: none;
  }
  .sectionA{
  font-size: 100px;
  text-align: center;
  line-height: 70px;
  }
  .logo{
    font-size: 20px;
  }
  .bio p{
    width: 100%;
  }
  .nota {
    display: none;
  }
  .timeline::before{
    display: none;
  }
  .checkpoint::before{
    display: none;
  }
  .timeline{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .checkpoint:nth-child(even){
    margin-right: 0px;
  }
  .checkpoint:nth-child(odd){
    
    margin-left: 0px;
  }
  .vinil {
    display: none;
  }
  .sectionC{
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width:500px){
  .sectionA{
    font-size: 70px;
    line-height: 60px;
  }
  .timeline{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  .checkpoint:nth-child(even){
    margin-right: 0px;
  }
  .checkpoint:nth-child(odd){
    margin-left: 0px;
  }
  .sectionC{
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width:332px){
  .sectionA{
    font-size: 60px;
    line-height: 50px;
  }
  .sectionC{
    width: 90%;
    text-align: center;
  }
}