@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
}
.nav a{
  font-size: 20px;
  padding-left: 10px;
}
.verticalNav{
  padding:20px;
  background-color: black;
  display: none;
  transition: 5s;
}
ul li{
  font-size: 20px;
  list-style: none;
  padding-bottom: 10px;
}
.toggle{
  display: none;
  cursor: pointer;
}
.close{
  display: none;
  cursor: pointer;
}

@media only screen and (max-width:800px){
  .toggle {
    display: block;
  }
  .nav{
    display: none;
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }
  
}
