@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  box-sizing: border-box;
}
body{
  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}
header{
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.784);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  animation-name: fade-in;
  animation-duration: 3s;
}
@keyframes fade-in {
  from{opacity: 0%;}
  to{opacity: 100%;}
}

.logo i{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  
}
.toggle{
  font-size: 30px;
}
.close, .toggle{
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.nav a{
  font-size: 20px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.verticalNav {
  padding:20px;
  background-color: rgba(0, 0, 0, 0.685);
  display: none;
  position: relative;
  top: 10px;
  z-index: 1000; 
}

ul a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  list-style: none;
  padding-bottom: 10px;
  font-weight: 200;
  cursor: pointer;
}
ul li:hover{
  text-decoration: underline;  
}
.toggle{
  display: none;
  cursor: pointer;
}
.close{
  display: none;
  cursor: pointer;
}
.sectionA{
  
  margin-bottom: 0px;
  background-color: #ffffff00;
  margin-top: 100px;
  background-image: url('');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 200px;
  font-weight: 900;
  position: relative;
  text-align: center;
  line-height: 180px;
}
.sectionA{
  animation-name: titulo;
  animation-duration: 3s;
}
@keyframes titulo {
  from{opacity: 0%;}
  to{opacity: 100%;}
}

.imagen{
  
  position: absolute;
  height: 100%;
  top: 0;
  
}

.prev{
  position:fixe;
  top: 45%;
  right: 76%;
  cursor: pointer;
}
.play{
  font-size: 20px;
}
.play:hover{
  font-size: 25px;
  transition:.3s;
}
.next{
  position: fixe;
  top: 45%;
  left: 95%;
  cursor: pointer;
}
.contacto {
  margin: 130px 0px;
}
form{
  margin-top: 30px;
  padding: 10px;
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input{
  appearance: none;
  border: 1px solid #323232;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: none;
  background-color: black;
  font-family: 'Special Elite', cursive;
}
.mensaje{
  padding-bottom: 100px;
}
.controles{
  font-size: 20px;
  position: fixed;
  top:50%;
  right: 0;
  
}
.arte{
  position: absolute;
  top: -5%;
  left: -160%;
  z-index: -3000;
}
.controles div{
  cursor: pointer;
}
.controles i{
  color: rgb(0, 0, 0);
}
.titulo {
  z-index: -1000;
}
.sectionB{
  background-image: url('');
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0px;
  font: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0);
  
  
}
.timeline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50%;
  position: relative;
  margin-bottom: 100px;
  margin: auto;
  height: 100%; 
}

@keyframes timeline {
  from{
    height: 0%;
  }
  to{
    height: 100%;
  }
}
.checkpoint{
  
  width: 100%;
  border: .1px solid; 
  margin-bottom: 80px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  position: relative;
  background-color: rgb(29, 29, 29);
  
  
}
.checkpoint h3,
.checkpoint h2,
.checkpoint p{
  font-weight: 100;
  font-size: 20px;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}
.checkpoint h2{
  font-weight: 300;
}
.nota{
  animation: rotacion 10s infinite;
}
@keyframes rotacion {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.flower{
  animation: flor 10s infinite;
}
@keyframes flor {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.vinil{
  animation:linear infinite circular 1s;
}
@keyframes circular {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg);}
}
.hidden{
  opacity: 1;
}
.mostrar{
  opacity: 0;
}

@media only screen and (max-width:800px){
  .toggle {
    display: block;
  }
  .nav{
    display: none;
  }
  .show{
    display: block;
    
  }
  
  .hide{
    display: none;
  }
  .sectionA{
  font-size: 100px;
  text-align: center;
  line-height: 100px;
  }
  .logo{
    font-size: 20px;
  }
  .bio p{
    width: 100%;
  }
  .nota {
    display: none;
  }
  .timeline::before{
    display: none;
  }
  .checkpoint::before{
    display: none;
  }
  .timeline{
    padding: 30px;
    width: 100%;
  }
  .checkpoint{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
  }
  .vinil {
    display: none;
  }
}
