

.contenedor{
    width: 100%;
    width: 2px;
    background-color: black;
   margin-top: 80px;
    position: absolute;
    left: 50%;
    
}
.box{
    width: 200px;
    height: 50px;
    padding: 20px;
    border: solid;
    margin-bottom: 20px;
    background-color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    
    
}
.box:nth-child(even){
    float: right;
    margin-right: 20px;
   
}
.box:nth-child(odd){
    float: left;
    margin-left: 20px;
   
}
.toggle{
    border: solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
header{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
.bar{
    width: 30px;
    height: 4px;
    background-color: black;
    position: absolute;
}
.bar::before, .bar::after{
    content: "";
    width: 30px;
    height: 4px;
    background-color: black;
}
.bar::before{
    
    transform: translate(0%, 10px);
    position: absolute;
}
.bar::after{
    transform: translate(0, -10px);
    position: absolute;
}



/* ANIMATION */

 .toggle.open .bar::before{
    transform: rotate(45deg);
    transition: .3s;
}
.toggle.open .bar::after{
    transform: rotate(-45deg);
    transition: .3s;
}
.toggle.open .bar{
    transform: rotate(360deg);
    background-color: transparent;
    transition: .3s;
    
}




